@import url("reset.min.css");

html {
  overflow: auto;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

body * {
  overflow-wrap: break-word;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
